$black: #000;
$white: #FFF;
$lightgrey: #DEDEDE;
$mediumgrey: #666666;
$darkgrey: #333333;
$orange: #F6A623;
$green: #B8E986;

$futurabold: 'Futura-CondensedExtraBold';
$futuramedium: 'Futura-CondensedMedium';
$futura: 'Futura';
